name: Package Python and Conda

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  build-python:
    runs-on: ubuntu-latest
    container:
      image: python:3.6-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel
          python setup.py sdist bdist_wheel
      - name: Upload python build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: python-dist
          retention-days: 1
          path: |
            dist/*.tar.gz
            dist/*.whl
      - name: Test package
        run: |
          python -m pip install dist/*.tar.gz
          python -m unittest discover

  upload-python:
    needs: build-python
    runs-on: ubuntu-latest
    container:
      image: python:3.6-slim
    steps:
      - name: Download python build artifacts
        uses: actions/download-artifact@v2
        with:
          name: python-dist
      - name: Upload python package
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USER }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASS }}
        run: |
          python -m pip install twine
          python -m twine upload *

  build-conda:
    runs-on: ubuntu-latest
    container:
      image: continuumio/anaconda3:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Conda configuration
        run: |
          conda config --add channels bioconda
          conda config --add channels conda-forge
          conda config --add channels ace-internal
          mkdir -p conda_build
      - name: Build conda package
        env:
          PKG_VERSION: ${{ github.event.release.tag_name }}
        run: |
          conda build conda --output-folder conda_build
      - name: Upload conda build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: conda-build
          retention-days: 1
          path: |
            conda_build/**.tar.bz2

  upload-conda:
    needs: [build-conda, upload-python]
    runs-on: ubuntu-latest
    container:
      image: continuumio/anaconda3:latest
    steps:
      - name: Download conda build artifacts
        uses: actions/download-artifact@v2
        with:
          name: conda-build
      - name: Upload conda package
        run: |
          ls -lah
          find *.tar.bz2 | xargs anaconda -t ${{ secrets.CONDA_TOKEN }} upload -u ace-internal